@{
    ViewData["Title"] = "Add Movies";
    ViewData["Styles"] = "~/css/addMovies.css";
    ViewData["Scripts"] = "~/js/addMovies.js";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="movie-container">
    <div class="movie-title">
        <label>Movie Title</label>
        <input type="text" id="movie-title" placeholder="type movie title">
    </div>
    <div class="preview-image">
        @* background image *@
    </div>
    <div class="movie-image">
        <label>Movie Image</label>
        <input type="file" id="movie-image" accept="image/jpeg, image/png, image/jpg">
    </div>
    <div class="movie-description">
        <label>Movie Description</label>
        <textarea id="movie-description" placeholder="type some description"></textarea>
    </div>

    <div class="add-date-container">
        <button type="button" title="add-date-btn" class="add-date"><i class="fa-solid fa-plus"></i></button>
        @* <div class="new-date">
        <label>Select Date</label>
        <input type="date" id="date" value="@DateTime.Now.ToString("yyyy-MM-dd")">
        <div class="submit-date-btn">
        <button class="cancel-date">Cancel</button>
        <button class="submit-date">Submit</button>
        </div>
        </div> *@
    </div>
    <div class="date-horizontal-wrapper">
        <i class="fa-solid fa-chevron-left"></i>
        <div class="date-horizontal">
            @* <div class="date-container">
                <p>@DateTime.Now.DayOfWeek</p>
                <p>@DateTime.Now.ToString("dd MMMM yyyy")</p>
                <div class="ellipsis-container">
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                    <div class="ellipsis-content">
                        <button class="edit-date">Edit</button>
                        <button class="delete-date">Delete</button>
                    </div>
                </div>
            </div> *@
        </div>
        <i class="fa-solid fa-chevron-right"></i>
    </div>
</div>