@{
  ViewData["Title"] = "Movies";
  ViewData["Styles"] = "~/css/movies.css";
  ViewData["Scripts"] = "~/js/movies.js";
  Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="main-container">
  <div class="add-movie">
    <a class="btn btn-warning" href="/movies/create">Add Movie</a>
  </div>
  <div class="info">
    <span>1</span>
    <h2>KungFu Panda4</h2>
    <img
      src="https://i0.wp.com/www.piratesandprincesses.net/wp-content/uploads/2023/12/Kung-Fu-Panda-4-Banner.jpg?fit=1080%2C745&ssl=1"
      alt="KungFu Panda" />
    <a href="#">Edit</a>
    <a href="#">Delete</a>
  </div>
  <div class="info">
    <span>2</span>
    <h2>KungFu Panda4</h2>
    <img
      src="https://i0.wp.com/www.piratesandprincesses.net/wp-content/uploads/2023/12/Kung-Fu-Panda-4-Banner.jpg?fit=1080%2C745&ssl=1"
      alt="KungFu Panda" />
    <a href="#">Edit</a>
    <a href="#">Delete</a>
  </div>
  <div class="info">
    <span>3</span>
    <h2>KungFu Panda4</h2>
    <img
      src="https://i0.wp.com/www.piratesandprincesses.net/wp-content/uploads/2023/12/Kung-Fu-Panda-4-Banner.jpg?fit=1080%2C745&ssl=1"
      alt="KungFu Panda" />
    <a href="#">Edit</a>
    <a href="#">Delete</a>
  </div>

    <div class="info">
    <span>1</span>
    <h2>KungFu Panda4</h2>
    <img
      src="https://i0.wp.com/www.piratesandprincesses.net/wp-content/uploads/2023/12/Kung-Fu-Panda-4-Banner.jpg?fit=1080%2C745&ssl=1"
      alt="KungFu Panda" />
    <a href="#">Edit</a>
    <a href="#">Delete</a>
  </div>
  <div class="info">
    <span>2</span>
    <h2>KungFu Panda4</h2>
    <img
      src="https://i0.wp.com/www.piratesandprincesses.net/wp-content/uploads/2023/12/Kung-Fu-Panda-4-Banner.jpg?fit=1080%2C745&ssl=1"
      alt="KungFu Panda" />
    <a href="#">Edit</a>
    <a href="#">Delete</a>
  </div>
  <div class="info">
    <span>3</span>
    <h2>KungFu Panda4</h2>
    <img
      src="https://i0.wp.com/www.piratesandprincesses.net/wp-content/uploads/2023/12/Kung-Fu-Panda-4-Banner.jpg?fit=1080%2C745&ssl=1"
      alt="KungFu Panda" />
    <a href="#">Edit</a>
    <a href="#">Delete</a>
  </div>

    <div class="info">
    <span>1</span>
    <h2>KungFu Panda4</h2>
    <img
      src="https://i0.wp.com/www.piratesandprincesses.net/wp-content/uploads/2023/12/Kung-Fu-Panda-4-Banner.jpg?fit=1080%2C745&ssl=1"
      alt="KungFu Panda" />
    <a href="#">Edit</a>
    <a href="#">Delete</a>
  </div>
  <div class="info">
    <span>2</span>
    <h2>KungFu Panda4</h2>
    <img
      src="https://i0.wp.com/www.piratesandprincesses.net/wp-content/uploads/2023/12/Kung-Fu-Panda-4-Banner.jpg?fit=1080%2C745&ssl=1"
      alt="KungFu Panda" />
    <a href="#">Edit</a>
    <a href="#">Delete</a>
  </div>
  <div class="info">
    <span>3</span>
    <h2>KungFu Panda4</h2>
    <img
      src="https://i0.wp.com/www.piratesandprincesses.net/wp-content/uploads/2023/12/Kung-Fu-Panda-4-Banner.jpg?fit=1080%2C745&ssl=1"
      alt="KungFu Panda" />
    <a href="#">Edit</a>
    <a href="#">Delete</a>
  </div>
</div>